#adrN{ display: inline; color :red}
#mask{ display: inline;  color :red}
#First{ display: inline;  color :red}
#Last{ display: inline;  color :red}
#Broadcast{ display: inline;  color :red}
#Nb{ display: inline;  color :red}


#header {
	margin-top : 50px;
}

#logo {
	margin-top : 150px;
	
}

 
	